<style>
    .notice-bar {
        padding: 10px 20px;
        background-color: {{ section.settings.background-color }};
    }

    .notice-bar__message {
        margin: 0;
        text-align: center;
        font-size: {{ section.settings.font-size }}px;
        color: {{ section.settings.text-color }};
        font-weight: bold;
    }
</style>
<div>
    <div class="notice-bar">
        <p class="notice-bar__message h5">
            {{ section.settings.notice-text | escape }}
            {% comment %} HEUTE VERSANDKOSTENFREI {% endcomment %}
        </p>
    </div>
</div>

{% schema %}
{
    "name": "Notice Bar",
    "settings": [
        {
            "type": "text",
            "id": "notice-text",
            "default": "Noticebar Text",
            "label": "Display Test"
        },
        {
            "type": "number",
            "id": "font-size",
            "default": 14,
            "label": "Font Size"
        },
        {
            "type": "color",
            "id": "background-color",
            "default": "#777",
            "label": "Background Color"
        },
        {
            "type": "color",
            "id": "text-color",
            "default": "#fff",
            "label": "Text Color"
        }
    ]
}
{% endschema %}