<style>

</style>

<div class="n-container">
    <div class="product-description">
        {% if section.settings.description_enabled == true %}
            {{ product.description }}
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Product Description",
    "settings": [
        {
            "type": "checkbox",
            "id": "description_enabled",
            "label": "Show Product Description"
        },
        {
            "type": "color",
            "id": "font_color",
            "label": "Description Font Color",
            "default": "#000"
        },
        {
            "type": "number",
            "id": "font_size",
            "label": "Description font size",
            "default": 14
        },
        {
            "type": "select",
            "id": "text-align",
            "label": "Description Text Alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center"
        }
    ]
}
{% endschema %}