<style>
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }
    .n-container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .product-container {
        display: flex;
        justify-content: center;
    }
    .product-image {
        width: 50%;
        margin-top: 35px;
    }
    .product-details {
        width: 50%;
        display: flex;
        align-items: center;
    }

    @media only screen and (max-width: 1280px) {
        .n-container {
            max-width: 960px;
        }
    }

    @media only screen and (max-width: 1024px) {
        .n-container {
            max-width: 800px;
        }
    }

    @media only screen and (max-width: 991px) {
        .n-container {
            max-width: 700px;
        }

        .product-container {
            flex-direction: column;
        }

        .product-image {
            width: 100%;
            margin-top: 50px;
        }
        .product-details {
            width: 100%;
        }
    }

    @media only screen and (max-width: 768px) {
        .n-container {
            max-width: 80%;
        }

        .product-image {
            margin-top: 0px;
        }
    }

    @media only screen and (max-width: 640px) {
        .n-container {
            max-width: 90%;
        }
    }

    @media only screen and (max-width: 480px) {
        .n-container {
            max-width: 99%;
        }
    }
</style>

<div class="n-container">
    <div class="product-container">
        <div class="product-image">
            {% render 'product-image-swiper', product: product %}
        </div>
        <div class="product-details">
            {% render 'product-details-card', product: product %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product Section",
    "settings": [
        {
            "type": "header",
            "content": "Text Settings"
        },
        {
            "type": "number",
            "id": "title_font_size",
            "label": "Title Font Size",
            "default": 25
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#000"
        },
        {
            "type": "header",
            "content": "."
        },
        {
            "type": "checkbox",
            "id": "collection_name_enabled",
            "label": "Show Collection Name"
        },
        {
            "type": "number",
            "id": "collection_font_size",
            "label": "Collection Name Font Size",
            "default": 18
        },
        {
            "type": "header",
            "content": "."
        },
        {
            "type": "checkbox",
            "id": "compare_at_enabled",
            "label": "Show Compare At Price"
        },
        {
            "type": "number",
            "id": "compare_at_font_size",
            "label": "Compare At Price Font Size",
            "default": 18
        },
        {
            "type": "select",
            "id": "compare_at_font_weight",
            "label": "Compare At Price Font Weight",
            "options": [
                {
                    "value": "400",
                    "label": "Normal"
                },
                {
                    "value": "600",
                    "label": "Bold"
                }
            ],
            "default": "600"
        },
        {
            "type": "color",
            "id": "compare_at_color",
            "label": "Compare At Price Color",
            "default": "#000"
        },
        {
            "type": "header",
            "content": "."
        },
        {
            "type": "number",
            "id": "price_font_size",
            "label": "Price Font Size",
            "default": 18
        },
        {
            "type": "select",
            "id": "price_font_weight",
            "label": "Price Font Weight",
            "options": [
                {
                    "value": "400",
                    "label": "Normal"
                },
                {
                    "value": "600",
                    "label": "Bold"
                }
            ],
            "default": "600"
        },
        {
            "type": "color",
            "id": "price_color",
            "label": "Price Color",
            "default": "#1F47FF"
        },
        {
            "type": "header",
            "content": "Button Settings"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "In den Einkaufswagen"
        },
        {
            "type": "color",
            "id": "button_background",
            "label": "Button Background",
            "default": "#1F47FF"
        },
        {
            "type": "color",
            "id": "button_label",
            "label": "Button Label Color",
            "default": "#FFFFFF"
        },
        {
            "type": "number",
            "id": "button_font_size",
            "label": "Button Font Size",
            "default": 18
        },
        {
            "type": "select",
            "id": "button_font_weight",
            "label": "Button Font Weight",
            "options": [
                {
                    "value": "400",
                    "label": "Normal"
                },
                {
                    "value": "600",
                    "label": "Bold"
                }
            ],
            "default": "600"
        },
        {
            "type": "header",
            "content": "Other Settings"
        },
        {
            "type": "checkbox",
            "id": "vat_info_enabled",
            "label": "Show Vat Text"
        },
        {
            "type": "number",
            "id": "vat_info_font_size",
            "label": "Vat Text Font Size",
            "default": 10
        },
        {
            "type": "checkbox",
            "id": "extra_info_enabled",
            "label": "Show Extra Info"
        },
        {
            "type": "color",
            "id": "extra_info_color",
            "label": "Extra Info Color",
            "default": "#25A525"
        },
        {
            "type": "number",
            "id": "extra_info_font_size",
            "label": "Extra Info Font Size",
            "default": 15
        },
        {
            "type": "select",
            "id": "extra_info_font_weight",
            "label": "Extra Info Font Weight",
            "options": [
                {
                    "value": "400",
                    "label": "Normal"
                },
                {
                    "value": "600",
                    "label": "Bold"
                }
            ],
            "default": "400"
        }
    ],
    "presets": [
        {
            "name": "Product Section"
        }
    ]
}
{% endschema %} 