<style>
    .product-section {
        max-width: 1200px;
        margin: 0 auto;
    }
    .product-container {
        display: flex;
        justify-content: center;
    }
    .product-image {
        width: 50%;
        margin-top: 50px;
    }
    .product-description {
        width: 50%;
        display: flex;
        align-items: center;
    }

    @media only screen and (max-width: 991px) {
        .product-image {
            width: 100%;
            margin-top: 50px;
        }
        .product-description {
            width: 100%;
        }
    }
</style>

<div class="product-section">
    <div class="product-container">
        <div class="product-image">
            {% render 'product-image-swiper', product: product %}
        </div>
        <div class="product-description">
            {% render 'product-description-card', product: product %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product Section",
    "settings": [
        {
            "type": "checkbox",
            "id": "extra_info_enabled",
            "label": "Show Extra Info"
        }
    ]
}
{% endschema %} 