<style>
    .usp-badges {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .usp-badge {
            display: flex;
            align-items: center;
            gap: 10px;

            .usp-badge__icon {
                height: 50px;
                width: 50px;
            }

            .usp-badge__text p {
                font-size: 18px;
                font-weight: 400;
                color: #000;
                margin: 0;
            }

            .usp-badge__text .usp-badge__secondary-text {
                color: #383838;
            }
        }
    }

    @media only screen and (max-width: 991px) {
        .usp-badges {
            margin: 3rem auto;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }
    }

    @media only screen and (max-width: 768px) {
        .usp-badges {
            margin-top: 1.5rem
        }
    }
</style>

<div class="n-container">
    <div class="usp-badges">
        {% for block in section.blocks %}
            <div class="usp-badge">
                <div class="usp-badge__icon">
                    {% if block.settings.icon %}
                        <img src="{{ block.settings.icon | image_url }}" alt="Icon" height="50" width="50">
                    {% endif %}
                </div>
                <div class="usp-badge__text">
                    <p class="usp-badge__primary-text">
                        {{ block.settings.primary_text }}
                    </p>
                    <p class="usp-badge__secondary-text">
                        {{ block.settings.secondary_text }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "USP Badges",
    "max_blocks": 4,
    "settings": [
        {
            "type": "checkbox",
            "id": "usp_badges_enabled",
            "label": "Show USP Badges"
        }
    ],
    "blocks": [
        {
            "type": "usp-badge",
            "name": "USP Badge",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon (png)"
                },
                {
                    "type": "text",
                    "id": "primary_text",
                    "label": "Primary Text"
                },
                {
                    "type": "text",
                    "id": "secondary_text",
                    "label": "Secondary Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "USP Badges",
            "blocks": [
                {
                    "type": "usp-badge"
                },
                {
                    "type": "usp-badge"
                },
                {
                    "type": "usp-badge"
                }
            ]
        }
    ]
}
{% endschema %}