form {
    background-color: red;
}
#forms_inline_8nxicL {
  background-color: red;
  padding: 20px; /* optional: adds some spacing */
}
[data-forms-id="forms-root-890607"] {
    background-color: pink;
}